@font-face{
    font-family:vazir-medium ;
    src: url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  *,
  body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: vazir-medium;
  }
  
  body{
      direction: rtl;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }





  html,body{
    height: 100%;
    width: 100%;
    background-color: #ededed;
  }
  .course-title{
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 34px;
      color: #000;
      margin: 100px;
  }
  ul{
      list-style: none;
  }
  .image-gallery{
      max-width: 700px;
      margin: 10px auto;
  }
  .image-gallery img{
      width: 100%;
      height: auto;
      display: block;
      border: 4px solid #ededed;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  ul.thumbnails{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  ul.thumbnails li{
      margin: 0 10px;
  }
  ul.thumbnails li a img{
      border: 4px solid #ededed;
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
      max-width: 120px;
  }
